/* cambay-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Cambay";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/cambay/cambay-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../assets/fonts/cambay/cambay-v7-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.woff") format("woff"),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../assets/fonts/cambay/cambay-v7-latin-regular.svg#Cambay") format("svg"); /* Legacy iOS */
}

/* pt-mono-regular - latin */
/*
@font-face {
    font-display: swap;
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.eot");
    src: local(""),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.woff") format("woff"),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.ttf") format("truetype"), 
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.svg#PTMono") format("svg"),
}
*/
  

:root {
    font-family: "Cambay", Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

    --bg: #fff;
    --fg: hsl(0, 0%, 20%);
    --link-fg: hsl(284, 40%, 60%);

    background: var(--bg);
    color: var(--fg);
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: hsl(0, 0%, 12%);
        --fg: hsl(0, 0%, 90%);
        --link-fg: hsl(284, 20%, 70%);
    }
}

body.dark {
    --bg: hsl(0, 0%, 12%);
    --fg: hsl(0, 0%, 90%);
    --link-fg: hsl(284, 20%, 70%);
}

body.light {
    --bg: #fff;
    --fg: hsl(0, 0%, 20%);
    --link-fg: hsl(284, 40%, 60%);
}

h1, h2 {
    font-weight: normal;
}

.layout-wrap {
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

.content {
    flex: 0;
    margin: 1rem;
    height: 100%;
}

@media (min-width: 750px) {
    .content {
        max-width: 95ch;
        margin: 0 auto;
    }
}

a, .theme-opts button {
    color: var(--link-fg);
}

.theme-opts button {
    display: inline-block;
    background: none;
    border: none;
    outline: none;

    font-family: inherit;
    font-size: 1em;

    cursor: pointer;
}

.theme-opts button.active {
    text-decoration: underline;
    cursor: unset;
}

.jump-links a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    margin: 0 10px;
}

.jump-links a::before {
    content: "#";
    font-size: 0.6em;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}

section {
    padding: 1em;
}

hr {
    border: 0;
    border-top: 2px solid hsl(284 40% 78% / 0.2);
}

.bio .hi {
    font-size: 2em;
    display: block;
}

.page-title {
    font-size: 4em;
}


#what-i-do ul {
    list-style: none;
    padding: 0;

    max-width: 450px;
}

#what-i-do ul li {

    margin: 1rem 0;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.contact-info {
    display: inline-block;
}

.contact-info svg {
    fill: hsl(0, 0%, 30%);
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}
