/* cambay-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Cambay";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/cambay/cambay-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../assets/fonts/cambay/cambay-v7-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.woff") format("woff"),
        url("../assets/fonts/cambay/cambay-v7-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
        url("../assets/fonts/cambay/cambay-v7-latin-regular.svg#Cambay") format("svg"); /* Legacy iOS */
}

/* pt-mono-regular - latin */
/*
@font-face {
    font-display: swap;
    font-family: "PT Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.eot");
    src: local(""),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.woff") format("woff"),
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.ttf") format("truetype"), 
        url("../assets/fonts/pt-mono/pt-mono-v8-latin-regular.svg#PTMono") format("svg"),
}
*/
  

:root {
    font-family: "Cambay", Helvetica, sans-serif;
    color: hsl(0, 0%, 18%);

    --card-top-height: 4rem;

    --bg-one: linear-gradient(135deg, #ff9c6b 10%, #BB4E75 100%);
    --bg-two: hsl(240, 2%, 17%);
    --bg-three: hsl(20, 100%, 71%);
    --bg-four: hsl(339, 40%, 60%);

    --card-bg: hsl(260, 9%, 26%);
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-two);
}

h1, h2 {
    font-weight: normal;
}

/* Intro */
.intro {
    background: var(--bg-one);
    text-align: center;

    clip-path: polygon(0 0%, 100% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    padding: 4rem 0 3rem 0;

    color: hsl(0, 0%, 94%);

    padding: 2rem 0;
}

.intro .page-title {
    font-size: 5em;
    padding: 0;
    margin: 0;
}

.intro .page-subtitle {
    font-size: 2.2em;
    margin: 0.2rem 0 4rem 0;
    padding: 0;

    color: hsl(0, 0%, 85%);
}

.bio {
    font-size: 1.2em;
    margin: 0 30%;
}

.bio .hi {
    display: inline-block;
    line-height: 2px;
    font-size: 2em;
}

@media screen and (max-width: 950px) {
    .intro {
        clip-path: none;
        padding: 3rem 0;
    }

    .bio {
        margin: 0 1em;
    }
}

/* Card layout */

.cards {
    margin: 0 1rem;
}

.card {
    width: 100%;
    padding: 3rem;
    box-sizing: border-box;

    margin: 2rem 0;

    color: hsl(0, 0%, 85%);

    opacity: 0.9;

    transition: opacity 100ms ease-in;
}

.card:hover {
    opacity: 1;
}

/* Large device layout */
@media screen and (min-width: 950px) {
    .cards {
        margin: 3rem 3rem 0 3rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        place-items: start center;
    }

    .card {
        box-shadow: 5px 5px 0px hsla(12, 10%, 36%, 0.562);
    }
}

.card > div {
    margin-top: var(--card-top-height);
}

.fade {
    animation: fade calc(var(--delay) * 200ms) ease-in;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 0.9; }
}

.titled-one {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        to bottom,
        var(--bg-three) 0%,
        var(--bg-three) var(--card-top-height),
        var(--card-bg) var(--card-top-height),
        var(--card-bg) 100%
    );
}

.titled-two {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        to bottom,
        var(--bg-four) 0%,
        var(--bg-four) var(--card-top-height),
        var(--card-bg) var(--card-top-height),
        var(--card-bg) 100%
    );
}

/* Card content */

.contact-info > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-info > a {
    height: 52px;
    color: hsl(241, 40%, 60%);
    text-decoration: none;

    transition: color ease-in 150ms;
}

.contact-info > a:hover, .contact-info > a:focus {
    color: hsl(241, 40%, 50%);
}

.contact-info > a:active {
    color: hsl(357, 28%, 46%);
}

.tech ul {
    list-style: none;
    padding: 0;
}

.tech ul li {
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 23%);
    box-shadow: 1px 5px 7px 2px hsla(324, 14%, 36%, 0.356);

    padding: 1rem 1rem;
    margin: 0 0 1rem 0;

    font-size: 1.2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dog-img {
    max-width: 100%;
    max-height: 100%;

    border: 10px solid #ffe5d9;
}

.gear {
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: -5;
}

.gear {
    width: 240px;
    fill: hsl(0, 0%, 59%);
}