
@import url('highlight.js/styles/github-dark.css');
:root {
    font-family: "DM Mono", sans-serif;
    scroll-behavior: smooth;
}


body.dark {
    --bg-color-a: hsl(240, 4%, 9%);
    --bg-color-b: hsl(0, 2%, 12%);
    --fg-color: hsl(254, 30%, 92%);

    --accent-a: hsl(248.6, 8.9%, 15.5%);
    --accent-b: hsl(218, 19%, 38%);

    --button-bg: hsl(327, 61%, 45%);
    --button-bg-hover: hsl(0, 63%, 69%);
    --button-fg: rgb(240, 237, 237);

    --link-color: var(--button-bg);

    --shadow-alpha: 0;
    --corner-radius: 5px;
}

body.light {
    --bg-color-a: white;
    --bg-color-b: hsl(0, 0%, 91%);
    --fg-color: hsl(0, 0%, 16%);
    
    --accent-a: #22262e;
    --accent-b: hsl(229, 19%, 22%);

    --button-bg: hsl(24, 61%, 51%);
    --button-bg-hover: hsl(18, 50%, 49%);
    --button-fg: rgb(247, 247, 247);

    --link-color: var(--button-bg);

    --shadow-alpha: 0.2;
    --corner-radius: 5px;
}

body, h1, h2, h3, h4, p, li {
    margin: 0;
    color: var(--fg-color);
}

body {
    background: var(--bg-color-a);
}

a {
    color: var(--link-color);
    margin: 0.5em 0;
    max-width: fit-content;
}


button:focus-visible, a:focus-visible, .settings-dropdown:focus-visible {
    outline: var(--button-bg-hover) dotted 0.3em;
}


.toolbar {
    width: fit-content;
    margin: 1em auto;
    background-color: var(--accent-a);
    border-radius: var(--corner-radius);
}


.theme-settings {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

#settings-cog {
    fill: #fff;
    cursor: pointer;
    transform: scale(0.5);
}


.settings-list button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;

    color: var(--button-fg);
    margin: 0.5em 0;
}

.settings-list button:hover, .settings-list button:focus-visible {
    color: var(--button-bg-hover);
}

.settings-list button.activated {
    color: var(--button-bg-hover);
    text-decoration: underline;
}

.link-btn {
    padding: 1em 2em;
    margin: 1em 0;
    border: none;

    color: var(--button-fg);
    background-color: var(--button-bg);
    box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, var(--shadow-alpha));
    

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.70rem;

    z-index: 1;


    cursor: pointer;
}

.link-btn:hover {
    background-color: var(--button-bg-hover);
}

.layout-wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.layout {
    display: grid;
    padding: 1em;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.cols {
    display: grid;
    grid-template-columns: 10% 1fr;
    gap: 1em;
}

.lil-panel {
    display: flex;
    flex-flow: column;
    max-width: 600px;


    padding: 0.75em 1.5em;
    background-color: var(--bg-color-b);
    border: 1px dashed var(--accent-a);
    border-radius: var(--corner-radius);
}

.lil-panel-area {
    margin-top: 1em;
    font-size: 0.9em;
    line-height: 1.5;
    color: var(--fg-color);
}

.portrait {
    max-width: 100%;
    width: 100px;
    border-radius: 25% 50%;
    border: 3px dashed var(--accent-b);
    filter: grayscale();
}

#posts-index {
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#posts-index .post-item {
    background: var(--accent-a);
    border: 1px dashed var(--accent-b);
    border-radius: var(--corner-radius);
    padding: 1em;
    margin: 0.5em;
}

#posts-index .post-item .post-link h3,
#posts-index .post-item .post-preview p {
    color: var(--button-fg) !important;
}

#posts-index * {
    text-decoration: none;
}

#post-view, .posts-layout {
    display: none;
}

#post-view.show, .posts-layout.show {
    display: block;
}

.posts-layout h2 {
    text-align: center;
}

#post-view {
    margin: 2em auto;
    padding: 0.85em;
}

#post-view #content h2 {
    margin: 1em 0;
    text-align: center;
}

#post-view #content .post-date {
    font-size: small;
}

#post-view #content .post-content, .post-preview {
    margin: 1em auto;
    max-width: 80ch;
    font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#post-view #content .post-content p {
    margin: 1em;
    font-size: 18px;
    line-height: 1.5;
}

pre > * {
    font-family: "DM Mono";
}