:root {
    font-family: "DM Mono", sans-serif;
    --font-headings: "Advent Pro", sans-serif;
    scroll-behavior: smooth;
}


body.dark {
    --bg-color-a: hsl(240, 4%, 9%);
    --bg-color-b: hsl(0, 2%, 12%);
    --fg-color: hsl(254, 30%, 92%);

    --accent-a: hsl(229, 19%, 22%);
    --accent-b: hsl(218, 19%, 38%);

    --button-bg: hsl(327, 61%, 45%);
    --button-bg-hover: hsl(0, 63%, 69%);
    --button-fg: white;

    --link-color: var(--button-bg);

    --shadow-alpha: 0;
}

body.light {
    --bg-color-a: white;
    --bg-color-b: hsl(0, 0%, 91%);
    --fg-color: hsl(0, 0%, 16%);
    
    --accent-a: #4F5D75;
    --accent-b: hsl(229, 19%, 22%);

    --button-bg: hsl(18, 83%, 63%);
    --button-bg-hover: hsl(18, 50%, 49%);
    --button-fg: white;

    --link-color: var(--button-bg);

    --shadow-alpha: 0.2;
}

body, h1, h2, h3, h4, p, li {
    margin: 0;
    color: var(--fg-color);
}

body {
    background: var(--bg-color-a);
}

a {
    color: var(--link-color);
    margin: 0.5em 0;
    max-width: fit-content;
}


button:focus-visible, a:focus-visible, .settings-dropdown:focus-visible {
    outline: var(--button-bg-hover) dotted 0.3em;
}


.toolbar {
    width: fit-content;
    margin: 1em auto;
    background-color: var(--accent-a);
    border-radius: 3px;
}


.theme-settings {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

#settings-cog {
    fill: #fff;
    cursor: pointer;
    transform: scale(0.5);
}


.settings-list button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;

    color: var(--button-fg);
    margin: 0.5em 0;
}

.settings-list button:hover, .settings-list button:focus-visible {
    color: var(--button-bg-hover);
}

.settings-list button.activated {
    color: var(--button-bg-hover);
    text-decoration: underline;
}

.link-btn {
    padding: 1em 2em;
    margin: 1em 0;
    border: none;

    color: var(--button-fg);
    background-color: var(--button-bg);
    box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, var(--shadow-alpha));
    

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.70rem;

    z-index: 1;


    cursor: pointer;
}

.link-btn:hover {
    background-color: var(--button-bg-hover);
}

.layout {
    display: grid;
    padding: 1em;
}

.cols {
    display: grid;
    grid-template-columns: 10% 1fr;
    gap: 1em;
}

.lil-panel {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 600px;


    padding: 2em;
    background-color: var(--bg-color-b);
    box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, var(--shadow-alpha));
}

.lil-panel-heading {
    margin: 1em 0;
}

.down-arrow-wrap {
    display: flex;
    justify-content: center;
    align-items: bottom;

    padding-top: 10vh;
}

.portrait {
    max-width: 100%;
    width: 100px;
    border-radius: 25% 50%;
    border: 3px dashed var(--accent-b);
    filter: grayscale();
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0%);
    }
}

#down-arrow {
    fill: var(--accent-a);
    animation: bounce 1300ms cubic-bezier(0,.78,.2,1.47);
}


@media (prefers-reduced-motion) {
    #down-arrow {
        animation: none;
    }
}

.para-wrap {
    display: flex;
    flex-flow: column;
    animation: none;
}

.para-wrap.shown {
    animation: slide-in 0.5s both;
}

@keyframes slide-in {
    0% {
        transform: translateX(-250px);
      }
      100% {
        transform: translateX(0);
      }
}

.para-wrap > * {
    max-width: 55ch;
}

@media (min-width: 700px) {
    .para-wrap.reverse {
        text-align: right;
        align-items: flex-end;
    }
}

.para-wrap .sub-heading {
    margin: 0;
    padding: 1em 0 0.25em 0;
    font-size: 2.8em;
    font-family: var(--font-headings);
}

.emph {
    transition: border-color ease-in 150ms;
    border-bottom: 3px solid var(--accent-a);
    padding-right: 15px;
}

.para-wrap:hover .emph, .para-wrap:focus .emph {
    border-color: #FF416C;
}
